body{
    color:white;
    background: repeating-linear-gradient(
    45deg,
    #ebebeb,
    #ebebeb 10px,
    #bebebe 10px,
    #bebebe 20px
    );
    height:100vh;
    width:100vw;
    overflow-x: hidden;

}

.container{
    width:70vw;
}

.hero{
    text-align: center;
    margin-bottom: 30px;
    padding:70px 25px 25px 10px;
    background-color: rgb(51, 51, 51);


}

.click-item{
margin:0px auto;
padding:0;
float:left;
width:100%;
object-fit: cover;
}

.img-raccoon:active{
    filter:blur(5px);
    transform: scale(1.2);
    transition:0.1s ease-in-out;
    }
    


.img-raccoon{
    width:170px;
    height: 170px;
    object-fit: cover;
    margin:10px 0;
    padding:0;
    border-radius: 15px;
    border:3px solid white;
}

.nav{
    background-color:black;
    color:white;
    padding:10px;
    position:fixed;
    width:100vw;
    clear:both;
    z-index: 99999;
}

h2{
    font-size: 16px;
}

main{
    padding:10px 200px;
    overflow: hidden;
}
